#titulo {
  background-image: url("img/manometro_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-top: calc(300px - 48px);
}

h1 {
  text-align: center;
}

#meta {
  margin: 40px 120px;
}

#meta p {
  /* text-align: center; */
  margin-top: 1rem;
}

.cabLista {
  text-align: left;
  font-size: larger;
  font-weight: bold;
}

.cabLista::after {
  content: icon;
}

#regFotografico {
  margin: 40px 120px;
}

.carousel-item img {
  margin: auto;
}

.carousel-caption {
  position: static;
}

.inline {
  display: inline;
}

.arrowNormal {
  transform: rotate(0deg);
  transition: 0.5s;
}

.arrowDown {
  transform: rotate(90deg);
  transition: 0.5s;
}
